/* ヘッダー（年月とボタン） */
div.calendar_header {
    text-align: center;
}

    /* 年月 */
    div.calendar_header > p#year_month_label {
        margin: 20px 20px 10px;
        font-size: 1.5em;
        font-weight: bold;
    }

/* ボタン */
button#prev_year_btn,
button#prev_month_btn,
button#next_month_btn,
button#next_year_btn {
    width: 3em;
    height: 2em;
}

/* ボタン */
button#now_btn {
    width: auto;
    height: 2em;
}

/* カレンダーテーブル */
table.calendar_tbl {
    min-width: 600px;
    margin: 20px auto 0;
    border: 1px solid;
    border-collapse: collapse;
}

    /* カレンダーテーブルの見出し（曜日） */
    table.calendar_tbl tr th {
        text-align: center;
        border: 1px solid #000;
    }

        /* カレンダーテーブルの見出し（日曜日） */
        table.calendar_tbl tr th:first-child {
            color: #f00;
        }

        /* カレンダーテーブルの見出し（土曜日） */
        table.calendar_tbl tr th:last-child {
            color: #00f;
        }

    /* カレンダーテーブルの日付部分 */
    table.calendar_tbl tr td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #000;
        width:10rem;
        height: 5em;
    }

        /* カレンダーテーブルで日付が入らない部分 */
        table.calendar_tbl tr td.no_date {
            background-color: #f2f2f2;
        }

        /* カレンダーテーブルの日付の部分（日曜日） */
        table.calendar_tbl tr td:first-child {
            z-index: 10;
            background-color: #fadbda;
            color: #f00;
        }

        /* カレンダーテーブルの日付の部分（土曜日） */
        table.calendar_tbl tr td:last-child {
            background-color: #ddeeff;
            color: #00f;
        }

        /* マウスオーバー時 */
        table.calendar_tbl tr td.with_date:hover {
            background-color: #fadfc0;
        }
